{% load staticfiles %}
<!DOCTYPE html>
  <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">

    </style>
</head>

<body>
  <div>{% include "website/header.html" %}</div>
  <div class="container" style="min-height:700px;">
    <h2>Additional Teaching</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Cource Name</th>
          <th>Consulted</th>
          <th>Prescribed</th>
          <th>Year</th>

        </tr>
      </thead>
      
  {% if additional_list %}
      {% for q in additional_list %}  
      <tbody>
        <tr>
          <td>{{ q.teach_rimc_course }}</td>
          <td>{{ q.teach_rimc_consulted }}</td>
          <td>{{ q.teach_rimc_prescribed }}</td>
          <td>{{ q.year }}</td>
        </tr>
      </tbody>

      {% endfor %}  
  {% endif %} 

    </table>
  </div>
  <div>{% include "website/footer.html" %}</div>

</body>
</html>
