{% load staticfiles %}
<!DOCTYPE html>
  <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">

    </style>
</head>

<body>
  <div>{% include "website/header.html" %}</div>
  <div class="container" style="min-height:700px;">
    <h2>Full Papers in Conference Proceedings</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Details of Conference publications</th>
          <th>ISSN/ISBN No.</th>
          <th>No. of Co-authors</th>
          <th>Year</th>

        </tr>
      </thead>
      
  {% if full_papers_list  %}
      {% for q in full_papers_list %}  
      <tbody>
        <tr>
          <td>{{ q.teach_fcp_tno }}</td>
          <td>{{ q.teach_fcp_bep }}</td>
          <td>{{ q.teach_fcp_issn }}</td>
          <td>{{ q.teach_fcp_noc }}</td>
          <td>{{ q.year }}</td>
        </tr>
      </tbody>

      {% endfor %}  
  {% endif %} 

    </table>
  </div>
  <div>{% include "website/footer.html" %}</div>

</body>
</html>
