{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Website</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="{% static 'moderna/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'moderna/css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'moderna/css/flexslider.css' %}" rel="stylesheet">
<link href="{% static 'moderna/css/style.css' %}" rel="stylesheet">
<link href="{% static 'moderna/css/jcarousel.css' %}" rel="stylesheet">
<!--

 Theme skin -->
 <link href="{% static 'moderna/skins/default.css' %}" rel="stylesheet">


<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
  <!-- start header -->
  <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>S</span>haligram <span>P</span>rajapat</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Teaching<b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#DUMMY LINK">Lecture/Seminar/Tutorial</a></li>
                                <li><a href="#DUMMY LINK">Additional Teaching</a></li> 
                                <li><a href="#DUMMY LINK">Innovative Teaching</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Projects<b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/ShaligramPrajapat/projects/ongoing_projects">Ongoing Projects</a></li>
                                <li><a href="/ShaligramPrajapat/projects/completed_projects">Completed Projects</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Publications<b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#Dummy link">Published Papers in Journals</a></li>
                                <li><a href="#DUMMY LINK">Articles / Chapters published in Books</a></li>
                                <li><a href="#">Full Papers in Conference Proceedings</a></li>
                                <li><a href="#">Books Published as Single Author or as a Editor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Activities<b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#DUMMY LINK">Exam Duties</a></li>
                                <li><a href="#DUMMY LINK">Academic Activities</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">About me<b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#DUMMY LINK">My Teachers</a></li>
                                <li><a href="#DUMMY LINK">My Students</a></li>
                                <li><a href="#DUMMY LINK">My Friends</a></li>
                                <li><a href="#DUMMY LINK">Spritual Gurus</a></li>
                                <li><a href="#DUMMY LINK">Recommendations</a></li>
                                <li><a href="#DUMMY LINK">My teachers</a></li>

                            </ul>
                        </li>
                        <li><a href="#DUMMY LINK">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
  </header>
  <!-- end header -->
