{% load staticfiles %}
    <div>{% include "website/header.html" %}</div>

    	<!--main content start-->
      <section id="main-content" style="min-height: 900px;">
          <section class="wrapper" >

              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                      
                      <div class="row">

    
                      	
						<div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>Key ACHIEVEMENT</h5>
								</div>
								<p><img src="{% static 'dashgumfree/Theme/assets/img/ui-zac.jpg' %}" class="img-circle" width="80"></p>
								<p><b>Zac Snider</b></p>
								<div class="row">
									<div class="col-md-6">
										<p class="small mt">MEMBER SINCE</p>
										<p>2012</p>
									</div>
									<div class="col-md-6">
										<p class="small mt">TOTAL SPEND</p>
										<p>$ 47,60</p>
									</div>
								</div>
							</div>
						</div><!-- /col-md-4 -->
                      	
                    </div><!-- /row -->
        
					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
              </div><! --/row -->
          </section>
      </section>

    <div>{% include "website/footer.html" %}</div>

  
