{% load staticfiles %}
<!DOCTYPE html>
  <html lang="en">
<head>
    <link href="{% static 'mutech/css/index.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">

    </style>
</head>
<body>
    <div>{% include "website/header.html" %}</div>


  <section id="featured">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <h2>Key Achievements</h2>
      </div>
    </div>

<div class="row">
  <div class="col-md-3">
    {% if profile %}
      {% for q in profile %}
        <img src="../../../media/{{q.faculty_pic}}" class="img-thumbnail" alt="Cinque Terre" >
      {% endfor %}
    {% endif %} 
  </div>

<!--Key Achievements start-->
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">Key Achievements</div>
    <div class="panel-body">
      <ul style="list-style-type:none;text-align: left;">
          {% if achievements %}
            {% for q in achievements %}
                <div style="display:inline;">
                  <i class="fa fa-chevron-right " style="color:hsl(201, 44%, 59%);display:inline;"></i>&nbsp;&nbsp;&nbsp;
                  <li style="display:inline;">
                    <h5 style="display:inline;">{{ q.name }}</h5>
                  </li>
                </div><br>
           {% endfor %}
         {% endif %} 
      </ul>

    </div>
  </div>
</div>
<!--Key Achievements ends-->
</section>


  <section class="callaction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-cta">
          <div class="cta-text">
            <h2><span>Moderna</span> HTML Business Template</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="box-bottom">
               <a href="#">Teaching</a>
            </div>
            <div class="box">
              <div class="box-gray aligncenter">
               <ul>
                <li>oremque laudantium sprea totam rem aperiam</li>
                <li>oremque laudantium sprea totam rem aperiam</li>
                  
                <li>oremque laudantium sprea totam rem aperiam</li>
                <li>oremque laudantium sprea totam rem aperiam</li>
                <li>oremque laudantium sprea totam rem aperiam</li>
              </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Modern Style</h4>
                <div class="icon">
                <i class="fa fa-pagelines fa-3x"></i>
                </div>
                <p>
                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                </p>
                  
              </div>
              <div class="box-bottom">
                <a href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Customizable</h4>
                <div class="icon">
                <i class="fa fa-edit fa-3x"></i>
                </div>
                <p>
                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                </p>
                  
              </div>
              <div class="box-bottom">
                <a href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Valid HTML5</h4>
                <div class="icon">
                <i class="fa fa-code fa-3x"></i>
                </div>
                <p>
                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                </p>
                  
              </div>
              <div class="box-bottom">
                <a href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- divider -->
    <div class="row">
      <div class="col-lg-12">
        <div class="solidline">
        </div>
      </div>
    </div>
    <!-- end divider -->
    <!-- Portfolio Projects -->
    <div class="row">
      <div class="col-lg-12">
        <h4 class="heading">Recent Works</h4>
        <div class="row">
          <section id="projects">
          <ul id="thumbs" class="portfolio">
            <!-- Item Project and Filter Name -->
            <li class="col-lg-3 design" data-id="id-0" data-type="web">
            <div class="item-thumbs">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="{% static 'moderna/img/works/1.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
            </div>
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="img/works/2.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="{% static 'moderna/img/works/2.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="img/works/3.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="{% static 'moderna/img/works/3.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
            </li>
            <!-- End Item Project -->
            <!-- Item Project and Filter Name -->
            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="img/works/4.jpg">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="{% static 'moderna/img/works/4.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
            </li>
            <!-- End Item Project -->
          </ul>
          </section>
        </div>
      </div>
    </div>

  </div>
  </section>
  <div>{% include "website/footer.html" %}</div>

  </body>
</html>