{% load staticfiles %}
<!DOCTYPE html>
  <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">

    </style>
</head>

<body>
  <div>{% include "website/header.html" %}</div>
  <div class="container" style="min-height:700px;">
    <h2>Published Papers in Journals</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Title </th>
          <th>Journal</th>
          <th>ISSN/ISBN No. </th>
          <th>Impact factor </th>
          <th>No. of Co-authors </th>
          <th>Year</th>

        </tr>
      </thead>
      
  {% if published_papers_list %}
      {% for q in published_papers_list %}  
      <tbody>
        <tr>
          <td>{{ q.teach_ppij_tno }}</td>
          <td>{{ q.teach_ppij_journal }}</td>
          <td>{{ q.teach_ppij_isbn }}</td>
          <td>{{ q.teach_ppij_pr }}</td>
          <td>{{ q.teach_ppij_nca }}</td>
          <td>{{ q.year }}</td>
        </tr>
      </tbody>

      {% endfor %}  
  {% endif %} 

    </table>
  </div>
  <div>{% include "website/footer.html" %}</div>

</body>
</html>
